Credit_Card_Usage.json
{
  "name": "Credit Card Usage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX",
            "CATEGORY_UPDATES",
            "UNREAD"
          ],
          "sender": "HDFC Bank InstaAlerts <alerts@hdfcbank.net>"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1620,
        20
      ],
      "id": "640a3473-d370-45ab-ac39-b5fde92ecbac",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YKiTte54wzp18Umy",
          "name": "tn36king"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let values = $input.all().map(item => item.json.gmailId);\n\nreturn [\n    {\n      json: {\n        values: values\n      }\n    }\n  ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -920,
        20
      ],
      "id": "558d655b-7893-49f3-a296-6a5a02082ac8",
      "name": "map used articls ids"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "934a4ab8-bc6b-4d1b-b050-c1f19a03cc9f",
              "leftValue": "={{ $('map used articls ids').item.json.values }}",
              "rightValue": "={{ $('Loop Over Items').first().json.id }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -700,
        20
      ],
      "id": "3028d5f9-5589-4f34-8351-364351e94fc5",
      "name": "filter only unused Ids"
    },
    {
      "parameters": {
        "chatId": "7779820575",
        "text": "=💳 *Transaction Spent Alert*\n\n📅 *Date:* `{{ $json.Date }}`  \n💰 *Amount:* `₹{{ $json.Amount }}`  \n🏷️ *Recipient:* `{{ $json.Recipient }}`  \n🔢 *UPI Reference No:* `{{ $json.UpiReference }}`",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -140,
        260
      ],
      "id": "ad9333eb-f357-4dec-bf7e-1c5ca1423d05",
      "name": "sent notification to telegram to pavi",
      "webhookId": "457dc38a-ddcb-474b-bc81-e7e895cd3a93",
      "credentials": {
        "telegramApi": {
          "id": "NYvdQJWayGwwFD3c",
          "name": "Reminder Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1400,
        20
      ],
      "id": "1c4da15f-c689-456d-99ed-68fd1ceb4728",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const message = $('Loop Over Items').first().json.snippet;\n\nconst amountMatch = message.match(/Rs\\.([\\d.,]+)/);\nconst recipientMatch = message.match(/to (.+?) on/);\nconst dateMatch = message.match(/on (\\d{2}-\\d{2}-\\d{2})/);\nconst referenceMatch = message.match(/UPI transaction reference number is (\\d+)/);\n\nconst amount = amountMatch ? amountMatch[1] : null;\nconst recipient = recipientMatch ? recipientMatch[1].trim() : null;\nconst date = dateMatch ? dateMatch[1] : null;\nconst upiReference = referenceMatch ? referenceMatch[1] : null;\n\nconsole.log(\"Amount:\", amount);       // 1260.00\nconsole.log(\"Recipient:\", recipient); // redbus3.payu@hdfcbank REDBUS IN\nconsole.log(\"Date:\", date);           // 16-05-25\n\nreturn [\n    {\n      json: {\n        Amount: amount,\n        Recipient:recipient,\n        Date:date,\n        UpiReference:upiReference\n      }\n    }\n  ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        20
      ],
      "id": "e4bbb51e-8a55-4ec3-a9d7-c8bb83e0b225",
      "name": "Extract the required data from mail"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "=💳 *Transaction Spent Alert*\n\n📅 *Date:* `{{ $json.Date }}`  \n💰 *Amount:* `₹{{ $json.Amount }}`  \n🏷️ *Recipient:* `{{ $json.Recipient }}`  \n🔢 *UPI Reference No:* `{{ $json.UpiReference }}`",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        -60
      ],
      "id": "b7c6d6ac-2478-407a-8f24-4573f1941e0b",
      "name": "sent notification to telegram to krishna",
      "webhookId": "457dc38a-ddcb-474b-bc81-e7e895cd3a93",
      "credentials": {
        "telegramApi": {
          "id": "NYvdQJWayGwwFD3c",
          "name": "Reminder Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fWshqrsS8A0ykEPasbvdH_U5KYqkfMvROXXnsQghHso",
          "mode": "list",
          "cachedResultName": "UPI Usage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWshqrsS8A0ykEPasbvdH_U5KYqkfMvROXXnsQghHso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWshqrsS8A0ykEPasbvdH_U5KYqkfMvROXXnsQghHso/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "gmailId": "={{ $('Loop Over Items').first().json.id}}",
            "date": "={{ $('Extract the required data from mail').first().json.Date }}",
            "Recipient": "={{ $('Extract the required data from mail').first().json.Recipient }}",
            "amount": "={{ $('Extract the required data from mail').first().json.Amount }}",
            "upiReference": "={{ $('Extract the required data from mail').first().json.UpiReference }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "gmailId",
              "displayName": "gmailId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recipient",
              "displayName": "Recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "upiReference",
              "displayName": "upiReference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        100,
        440
      ],
      "id": "b764e118-0cd8-4f47-8601-e81c488a34f7",
      "name": "update the usage in sheet row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOvdkJULy6xh4dvL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fWshqrsS8A0ykEPasbvdH_U5KYqkfMvROXXnsQghHso",
          "mode": "list",
          "cachedResultName": "UPI Usage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWshqrsS8A0ykEPasbvdH_U5KYqkfMvROXXnsQghHso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWshqrsS8A0ykEPasbvdH_U5KYqkfMvROXXnsQghHso/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1160,
        20
      ],
      "id": "ffab4fee-1b4c-4231-8016-e40ec83d04be",
      "name": "Get the already uses records to filter",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOvdkJULy6xh4dvL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "krish11022002@gmail.com",
        "subject": "Payment Sent Status",
        "message": "Payment Message has been sent",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        440
      ],
      "id": "51a36895-5e5f-4528-87cd-4b7dc9b848d6",
      "name": "Gmail1",
      "webhookId": "e80bf2e0-6859-4f6a-a87e-4f6ec4b498db",
      "credentials": {
        "gmailOAuth2": {
          "id": "QndLtGQNSrJE1IUY",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map used articls ids": {
      "main": [
        [
          {
            "node": "filter only unused Ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter only unused Ids": {
      "main": [
        [
          {
            "node": "Extract the required data from mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sent notification to telegram to pavi": {
      "main": [
        [
          {
            "node": "update the usage in sheet row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get the already uses records to filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract the required data from mail": {
      "main": [
        [
          {
            "node": "sent notification to telegram to krishna",
            "type": "main",
            "index": 0
          },
          {
            "node": "sent notification to telegram to pavi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update the usage in sheet row": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the already uses records to filter": {
      "main": [
        [
          {
            "node": "map used articls ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d496eea6-c0c7-4fd0-8341-ca6ed1aded5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee7707c1fecfcdb83b60a7259c8c501ea48739fc2145a4f83c8f691b057ce6b6"
  },
  "id": "uXIPvopcUNNFG2JU",
  "tags": []
}