Personal_Assitant.json
{
  "name": "Personal Assitant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        880,
        20
      ],
      "id": "378d506f-6ffc-4ade-ac44-016e2755febc",
      "name": "Telegram Trigger",
      "webhookId": "5795fe1c-6562-436f-8cff-2e6743295b13",
      "credentials": {
        "telegramApi": {
          "id": "HqORjqpmIia48uDI",
          "name": "MrProgrammer"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "c1438829-f1e6-4841-a466-169c012b89f5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d178aa3-ef23-4fd2-879a-1cdfb662fbe8",
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1180,
        20
      ],
      "id": "06492219-65fa-4e4e-ac24-26feffd4de8c",
      "name": "Message or callback"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "*Choose a Option*",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Gym",
                    "additionalFields": {
                      "callback_data": "mr/gym"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1480,
        0
      ],
      "id": "2f5f8a3f-b733-4f41-94cf-406ef47eb9e1",
      "name": "sent list of options",
      "webhookId": "9373d46a-d5ad-40f4-93c0-7a44ff5fea37",
      "credentials": {
        "telegramApi": {
          "id": "HqORjqpmIia48uDI",
          "name": "MrProgrammer"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "mr/gym",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "bc7fe7c5-10be-4db6-9252-f4a39512f4a4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1160,
        640
      ],
      "id": "5bbffbb4-2674-439d-a217-48c6df400d90",
      "name": "split the options selected by user"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "*Choose WorkOut ✨*",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=Abs",
                    "additionalFields": {
                      "callback_data": "mr/gym/abs"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Arms",
                    "additionalFields": {
                      "callback_data": "mr/gym/arms"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Shoulder",
                    "additionalFields": {
                      "callback_data": "mr/gym/shoulders"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Chest",
                    "additionalFields": {
                      "callback_data": "mr/gym/chest"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Leg",
                    "additionalFields": {
                      "callback_data": "mr/gym/leg"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Back",
                    "additionalFields": {
                      "callback_data": "mr/gym/back"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Triceps",
                    "additionalFields": {
                      "callback_data": "mr/gym/triceps"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "As Schedule",
                    "additionalFields": {
                      "callback_data": "mr/gym/schedule"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Menu",
                    "additionalFields": {
                      "callback_data": "mr/gym/menu"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2460,
        620
      ],
      "id": "483b02d3-b04b-40c7-b4d1-d33370b1aeca",
      "name": "sent gym workout names",
      "webhookId": "9373d46a-d5ad-40f4-93c0-7a44ff5fea37",
      "credentials": {
        "telegramApi": {
          "id": "HqORjqpmIia48uDI",
          "name": "MrProgrammer"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "mr/gym",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7fe7c5-10be-4db6-9252-f4a39512f4a4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa8ca655-c72e-4940-938d-a49d6836a9e7",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "mr/gym/menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2de8adbe-655b-438e-9210-8cc44b868edb",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "mr/gym/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1920,
        640
      ],
      "id": "c76efde1-88c7-4180-9431-0993b811c68c",
      "name": "Gym Data Spliter"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "=\nHere's the link to your {{ $json['WorkOur Name'] }} 🔥 workout for today, bro.\n\n{{ $json.Link }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2860,
        1060
      ],
      "id": "47f03b8c-66f3-4248-be6d-1d41f8c21d8d",
      "name": "link gym video links",
      "webhookId": "9373d46a-d5ad-40f4-93c0-7a44ff5fea37",
      "credentials": {
        "telegramApi": {
          "id": "HqORjqpmIia48uDI",
          "name": "MrProgrammer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let scheduleKey = \"mr/gym/schedule\";\nlet resultValue = [];\n\nfunction filterByDay(data, day) {\n  const filteredItems = [];\n  \n   if (data.Day.toLowerCase() === day.toLowerCase()) {\n      filteredItems.push(data);\n    }\n  return filteredItems;\n}\n\nfunction getTodayDay() {\n  const daysOfWeek = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n  const today = new Date();\n  return daysOfWeek[today.getDay()];\n}\n\nfor (const item of $input.all()) {\n  if ($('Gym Data Spliter').first().json.callback_query.data === scheduleKey) {\n   \n    const todayDay = getTodayDay();\n    \n    resultValue.push(...filterByDay(item.json, todayDay)); \n  } else {\n    \n    if (item.json.tag === $('Gym Data Spliter').first().json.callback_query.data) {\n      resultValue.push(item);\n    }\n  }\n}\n\nlet data = {\n    resultValue: resultValue,\n    hasData: resultValue.length > 0,\n  };\n\nreturn resultValue;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1040
      ],
      "id": "9b22815c-cc17-4131-ae3e-0048f06cc512",
      "name": "Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "Gym Flow\n",
        "height": 700,
        "width": 1180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        560
      ],
      "typeVersion": 1,
      "id": "bb071e3d-aa94-48dd-9418-e2469deac897",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Main Options",
        "height": 380,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -100
      ],
      "typeVersion": 1,
      "id": "46654ed5-f573-45d2-af7b-41d73d3cbff4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Option Spliter",
        "height": 240,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        580
      ],
      "typeVersion": 1,
      "id": "e3b33c26-4053-47a8-8927-6321ae2b1fd5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        20,
        40
      ],
      "id": "a01a6240-80fd-42ef-98b1-8ab4bb9076db",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "=Hey Krishna 👑\n\n*{{ $json.quotes }}*",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        40
      ],
      "id": "094eea3a-b412-4ade-ae10-47c3a2d6f5d2",
      "name": "link gym video links1",
      "webhookId": "9373d46a-d5ad-40f4-93c0-7a44ff5fea37",
      "credentials": {
        "telegramApi": {
          "id": "HqORjqpmIia48uDI",
          "name": "MrProgrammer"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// List of 30 good morning quotes\nconst goodMorningQuotes = [\n  \"Good morning! Every day is a new beginning.\",\n  \"Wake up and chase your dreams!\",\n  \"Rise and shine, it's a beautiful day.\",\n  \"Start your morning with a smile.\",\n  \"New day, new strength, new thoughts.\",\n  \"Every sunrise brings new hope.\",\n  \"Good morning! Make today amazing.\",\n  \"Your future is created by what you do today.\",\n  \"The sun is up, the sky is blue, it's beautiful, and so are you.\",\n  \"Each morning we are born again. What we do today matters most.\",\n  \"Good morning! Be a blessing to someone today.\",\n  \"Wake up with determination. Go to bed with satisfaction.\",\n  \"Smile in the mirror. Do that every morning and you'll start to see a big difference.\",\n  \"Good morning! You are capable of amazing things.\",\n  \"Let your smile change the world.\",\n  \"Opportunities are like sunrises. If you wait too long, you miss them.\",\n  \"Morning is wonderful. Its only drawback is that it comes at such an inconvenient time of day.\",\n  \"Good morning! Stay positive and strong.\",\n  \"The best way to make your dreams come true is to wake up.\",\n  \"New day, new blessings. Don't let yesterday's failures ruin today.\",\n  \"Good morning! Believe in yourself.\",\n  \"Today is a good day for a good day.\",\n  \"Rise up, start fresh, see the bright opportunity in each new day.\",\n  \"The morning was full of sunlight and hope.\",\n  \"Good morning! Small steps every day lead to big changes.\",\n  \"Each good morning we are gifted is a precious treasure.\",\n  \"Good morning! Focus on the good today.\",\n  \"Today will be a great day. So wake up and smile.\",\n  \"Every morning is a chance at a new day.\",\n  \"Good morning! Spread love and positivity everywhere you go.\"\n];\n\n// Function to randomly pick one quote\nfunction getRandomMorningQuote() {\n  const randomIndex = Math.floor(Math.random() * goodMorningQuotes.length);\n  return goodMorningQuotes[randomIndex];\n}\n\n// Example usage\nreturn  {\n    quotes: getRandomMorningQuote()\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        40
      ],
      "id": "608c8e04-90f4-45ec-8f30-2956f7a4954c",
      "name": "Code1"
    },
    {
      "parameters": {
        "content": "Mrng quotes",
        "height": 380,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -100
      ],
      "typeVersion": 1,
      "id": "b2577c19-d0c8-4f68-ab74-907f98eccdfa",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2480,
        1040
      ],
      "id": "7ec69a22-f8d1-40a3-829a-a1a5042afe0d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "──── WEEKLY WORKOUT SCHEDULE ────\n\n▸ Tuesday     : Chest / Shoulder\n▸ Wednesday    : Arms / Back\n▸ Thursday  : Abs / Triceps\n▸ Friday   : Shoulder / Chest\n▸ Saturday     : Back / Arms\n▸ Sunday   : Triceps / Abs",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2460,
        840
      ],
      "id": "e62e0bb7-496e-489c-a3be-eb958d43dc71",
      "name": "sent gym workout names1",
      "webhookId": "9373d46a-d5ad-40f4-93c0-7a44ff5fea37",
      "credentials": {
        "telegramApi": {
          "id": "HqORjqpmIia48uDI",
          "name": "MrProgrammer"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n7oAJwnf5uLlx6d5_OEdAP73bBRLRZaqAqrzonB0nDc",
          "mode": "list",
          "cachedResultName": "Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7oAJwnf5uLlx6d5_OEdAP73bBRLRZaqAqrzonB0nDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 750642459,
          "mode": "list",
          "cachedResultName": "gym links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7oAJwnf5uLlx6d5_OEdAP73bBRLRZaqAqrzonB0nDc/edit#gid=750642459"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1920,
        1040
      ],
      "id": "1d9c355a-4ffe-47ed-a27e-4af01de2855e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOvdkJULy6xh4dvL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message or callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message or callback": {
      "main": [
        [
          {
            "node": "sent list of options",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "split the options selected by user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split the options selected by user": {
      "main": [
        [
          {
            "node": "Gym Data Spliter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gym Data Spliter": {
      "main": [
        [
          {
            "node": "sent gym workout names",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sent gym workout names1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "link gym video links": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "link gym video links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "link gym video links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c65caae3-309b-4448-b65a-9900c97cdb6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee7707c1fecfcdb83b60a7259c8c501ea48739fc2145a4f83c8f691b057ce6b6"
  },
  "id": "eP3gkS8sH3Pqq1MJ",
  "tags": []
}