Personal_Assitant.json
{
  "name": "Personal Assitant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        -700
      ],
      "id": "b8e59e35-2fee-4914-b4eb-6754b79901cc",
      "name": "Telegram Trigger",
      "webhookId": "5795fe1c-6562-436f-8cff-2e6743295b13",
      "credentials": {
        "telegramApi": {
          "id": "R8nJZScHqw02haLU",
          "name": "Mr.4rogrammer bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "c1438829-f1e6-4841-a466-169c012b89f5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d178aa3-ef23-4fd2-879a-1cdfb662fbe8",
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -140,
        -700
      ],
      "id": "715802d6-cf6b-48f3-8201-be3c12d69b46",
      "name": "Message or callback"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "*Choose a Option*",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Gym",
                    "additionalFields": {
                      "callback_data": "mr/gym"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        -720
      ],
      "id": "b29c8ade-466a-4c8d-a7db-ddc60ddd78b2",
      "name": "sent list of options",
      "webhookId": "9373d46a-d5ad-40f4-93c0-7a44ff5fea37",
      "credentials": {
        "telegramApi": {
          "id": "R8nJZScHqw02haLU",
          "name": "Mr.4rogrammer bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "mr/gym",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "bc7fe7c5-10be-4db6-9252-f4a39512f4a4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        -80
      ],
      "id": "20e7fdbf-771a-48be-8fae-cdcfe9e4d231",
      "name": "split the options selected by user"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "*Choose WorkOut ✨*",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=Abs",
                    "additionalFields": {
                      "callback_data": "mr/gym/abs"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Arms",
                    "additionalFields": {
                      "callback_data": "mr/gym/arms"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Shoulder",
                    "additionalFields": {
                      "callback_data": "mr/gym/shoulders"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Chest",
                    "additionalFields": {
                      "callback_data": "mr/gym/chest"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Leg",
                    "additionalFields": {
                      "callback_data": "mr/gym/leg"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Back",
                    "additionalFields": {
                      "callback_data": "mr/gym/back"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1140,
        -100
      ],
      "id": "15ee59c3-5734-4f70-a98b-bb32eeda336f",
      "name": "sent gym workout names",
      "webhookId": "9373d46a-d5ad-40f4-93c0-7a44ff5fea37",
      "credentials": {
        "telegramApi": {
          "id": "R8nJZScHqw02haLU",
          "name": "Mr.4rogrammer bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "mr/gym",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7fe7c5-10be-4db6-9252-f4a39512f4a4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2de8adbe-655b-438e-9210-8cc44b868edb",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "mr/gym/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        600,
        -80
      ],
      "id": "ac413e06-a095-4185-ac3d-5e7e7ad93fd8",
      "name": "Gym Data Spliter"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "=\nHere's the link to your {{ $json['WorkOur Name'] }} 🔥 workout for today, bro.\n\n{{ $json.Link }}\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1180,
        320
      ],
      "id": "b42b5d65-2c32-427b-b4f5-077c4eec0400",
      "name": "link gym video links",
      "webhookId": "9373d46a-d5ad-40f4-93c0-7a44ff5fea37",
      "credentials": {
        "telegramApi": {
          "id": "R8nJZScHqw02haLU",
          "name": "Mr.4rogrammer bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app6JXg9YPvJJkAed",
          "mode": "list",
          "cachedResultName": "Gym",
          "cachedResultUrl": "https://airtable.com/app6JXg9YPvJJkAed"
        },
        "table": {
          "__rl": true,
          "value": "tblezOv9oEPXaq0M6",
          "mode": "list",
          "cachedResultName": "gym link data",
          "cachedResultUrl": "https://airtable.com/app6JXg9YPvJJkAed/tblezOv9oEPXaq0M6"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        600,
        320
      ],
      "id": "d0ee972d-7f2a-48cd-ad9c-a02ddad7f29e",
      "name": "Gym Links",
      "credentials": {
        "airtableTokenApi": {
          "id": "9bPeAvakB1tkDxsW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n\nlet resultValue = []\n\nfor (const item of $input.all()) {\n  if (item.json.tag == $('Gym Data Spliter').first().json.callback_query.data) {\n    resultValue.push(item)\n  }\n}\n\nreturn resultValue;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        320
      ],
      "id": "6d05e514-7c7a-4df4-ba4f-c51b3ce48b0a",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "Gym Flow\n",
        "height": 660,
        "width": 920
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        -160
      ],
      "typeVersion": 1,
      "id": "819ae064-c338-46e0-9c92-1ccc282964d3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Main Options",
        "height": 380,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        -820
      ],
      "typeVersion": 1,
      "id": "65ee808a-6f26-4355-8654-5a8951bf022e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Option Spliter",
        "height": 240,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        -140
      ],
      "typeVersion": 1,
      "id": "a5711266-3d60-471e-91bd-335b4ec64d87",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1300,
        -680
      ],
      "id": "45211db3-c9f5-4713-b00c-dcca4affc399",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "1199262493",
        "text": "=Hey Krishna 👑\n\n*{{ $json.quotes }}*",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -840,
        -680
      ],
      "id": "a8c93832-70ee-456c-8240-96acdb0cbdb0",
      "name": "link gym video links1",
      "webhookId": "9373d46a-d5ad-40f4-93c0-7a44ff5fea37",
      "credentials": {
        "telegramApi": {
          "id": "R8nJZScHqw02haLU",
          "name": "Mr.4rogrammer bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// List of 30 good morning quotes\nconst goodMorningQuotes = [\n  \"Good morning! Every day is a new beginning.\",\n  \"Wake up and chase your dreams!\",\n  \"Rise and shine, it's a beautiful day.\",\n  \"Start your morning with a smile.\",\n  \"New day, new strength, new thoughts.\",\n  \"Every sunrise brings new hope.\",\n  \"Good morning! Make today amazing.\",\n  \"Your future is created by what you do today.\",\n  \"The sun is up, the sky is blue, it's beautiful, and so are you.\",\n  \"Each morning we are born again. What we do today matters most.\",\n  \"Good morning! Be a blessing to someone today.\",\n  \"Wake up with determination. Go to bed with satisfaction.\",\n  \"Smile in the mirror. Do that every morning and you'll start to see a big difference.\",\n  \"Good morning! You are capable of amazing things.\",\n  \"Let your smile change the world.\",\n  \"Opportunities are like sunrises. If you wait too long, you miss them.\",\n  \"Morning is wonderful. Its only drawback is that it comes at such an inconvenient time of day.\",\n  \"Good morning! Stay positive and strong.\",\n  \"The best way to make your dreams come true is to wake up.\",\n  \"New day, new blessings. Don't let yesterday's failures ruin today.\",\n  \"Good morning! Believe in yourself.\",\n  \"Today is a good day for a good day.\",\n  \"Rise up, start fresh, see the bright opportunity in each new day.\",\n  \"The morning was full of sunlight and hope.\",\n  \"Good morning! Small steps every day lead to big changes.\",\n  \"Each good morning we are gifted is a precious treasure.\",\n  \"Good morning! Focus on the good today.\",\n  \"Today will be a great day. So wake up and smile.\",\n  \"Every morning is a chance at a new day.\",\n  \"Good morning! Spread love and positivity everywhere you go.\"\n];\n\n// Function to randomly pick one quote\nfunction getRandomMorningQuote() {\n  const randomIndex = Math.floor(Math.random() * goodMorningQuotes.length);\n  return goodMorningQuotes[randomIndex];\n}\n\n// Example usage\nreturn  {\n    quotes: getRandomMorningQuote()\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1060,
        -680
      ],
      "id": "cb2b5b5f-3083-49db-bafb-7b052950005c",
      "name": "Code1"
    },
    {
      "parameters": {
        "content": "Mrng quotes",
        "height": 380,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1400,
        -820
      ],
      "typeVersion": 1,
      "id": "8c263e8d-90c7-4390-bde6-d8fe1457fb8f",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message or callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message or callback": {
      "main": [
        [
          {
            "node": "sent list of options",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "split the options selected by user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sent list of options": {
      "main": [
        []
      ]
    },
    "split the options selected by user": {
      "main": [
        [
          {
            "node": "Gym Data Spliter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gym Data Spliter": {
      "main": [
        [
          {
            "node": "sent gym workout names",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gym Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "link gym video links": {
      "main": [
        []
      ]
    },
    "Gym Links": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "link gym video links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "link gym video links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a5366f0-d01d-4a1f-aa6b-c8d7d5261a8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52be616fc3b9990a95b5266574f084bd2127609e79ce7dbfc33a1224bcc79eee"
  },
  "id": "wS2U7VXMwNEKaf4E",
  "tags": []
}